@import '~@globalStyles';

.content {
  background-color: #FCFCFD;
  padding-bottom: $u * 4;
}

.row {
  display: flex;
  padding: $u * 4;
  padding-bottom: 0;
}

.sectionLeft {
  flex: 1 1 33%;
}

.sectionTitle {
  font-size: $u * 3;
  font-weight: 600;
}

.sectionRight {
  display: flex;
  flex: 1 1 66%;
  flex-direction: column;
}

.checkboxContainer {
  align-items: center;
  display: flex;
  margin-bottom: $u * 4;
  user-select: none;

  input {
    display: none;
  }

  i {
    color: $mxn-purple;
    font-size: 18px;
    margin-right: 12px;
  }
}

.inputContainer {
  display: flex;
  flex-direction: column;
  font-weight: 600;
  opacity: 0.7;
  margin-bottom: $u * 4;

  input {
    background-color: #fafafa;
    border: 1px solid #ddd;
    border-radius: $u;
    font-size: 16px;
    margin-top: $u * 2;
    outline: none;
    padding: 8px $u;
    transition: 0.2s ease all;

    &:focus {
      border-color: $mxn-purple;
    }
  }
}

.divider {
  background-color: $border-gray;
  height: 1px;
  width: 100%;
}

.bgImage {
  height: 76px;
  margin-right: $u * 2;
  object-fit: cover;
  width: 256px;
}

.imageLabel {
  border: 1px solid $mxn-purple;
  border-radius: $u;
  color: $mxn-purple;
  cursor: pointer;
  padding: 8px $u * 2;
  transition: 0.2s ease all;

  input {
    display: none;
  }

  &:hover {
    background-color: $mxn-purple;
    color: #fff;
  }
}

.imageContainer {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: $u * 4;
}

.footer {
  align-items: center;
  background-color: #fff;
  display: flex;
  justify-content: flex-end;
  padding: $u * 2 $u * 4;
}

.save {
  background-color: $mxn-purple;
  border: none;
  border-radius: $u;
  color: #fff;
  cursor: pointer;
  font-size: 14px;
  outline: none;
  padding: $u * 2 $u * 4;
}

.cancel {
  background-color: transparent;
  border: none;
  border-radius: $u;
  cursor: pointer;
  font-size: 14px;
  margin-right: $u * 2;
  opacity: 0.6;
  outline: none;
  padding: $u * 2 $u * 4;

  &:hover {
    opacity: 1;
  }
}

.colorWrapper {
  display: flex;

  div {
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    margin-left: 6px;
    width: 18px;
  }
}
