@import '~@globalStyles';

.container {
  background-color: #fff;
  border: 1px solid #eee;
  border-bottom-left-radius: $u;
  border-bottom-right-radius: $u;
  border-top: none;
  left: $u * 8;
  min-width: $u * 30;
  padding: $u * 4;
  padding-top: $u * 14;
  position: absolute;
  top: 0;

  img {
    border: 6px solid #fff;
    border-radius: 50%;
    height: $u * 24;
    left: 50%;
    position: absolute;
    top: $u * (-13);
    transform: translate(-50%);
    width: $u * 24;
  }
}

.info {
  p {
    opacity: 0.5;

    i {
      margin-right: $u * 2;
    }
  }
}

.name {
  font-size: $u * 3;
  font-weight: 600;
  margin-bottom: $u * 2;
  opacity: 1 !important;
}

.socials {
  background-color: #fff;
  border-bottom: 1px solid #eee;
  border-bottom-left-radius: $u;
  border-bottom-right-radius: $u;
  border-right: 1px solid #eee;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: $u * 2;
  position: absolute;
  right: -42px;
  top: 0;
}

.facebook {
  color: #3B5998;
}

.instagram {
  color: #e4405f;
}

.twitter {
  color: #1DA1F2;
}

.web {
  color: #000;
}
