@import '~@globalStyles';

.container {
  border-radius: 6px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  height: 316px;
  position: relative;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  width: 228px;

  &:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }
}

.thumbnail {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  display: block;
  height: 248px;
  width: 228px;
}

.info {
  align-items: center;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  left: 0;
  padding: 12px;
  position: absolute;
  right: 0;
}

.designerName {
  color: rgba(96, 125, 139, 0.7);
  font-size: 12px;
  margin-top: 6px;

  &:hover {
    color: rgba(96, 125, 139, 1);
  }
}

.price {
  display: flex;
  color: $mxn-purple;
}

.sign {
  font-size: 12px;
  font-weight: 400;
  margin-right: 2px;
}

.curvedDiv,
.curvedDivInverse {
  background: transparent;
  height: 12px;
  margin-top: -12px;
  overflow: hidden;
  position: relative;
}

.curvedDiv:before,
.curvedDivInverse:before {
  background: #fff;
  border-radius: 100%;
  bottom: -200px;
  content: '';
  left: -200px;
  position: absolute;
  right: -212px;
  top: 0;
}

.curvedDivInverse {
  height: 24px;
  margin-top: -16px;
}

.curvedDivInverse:before {
  background: transparent;
  bottom: 0px;
  border: 8px solid #fff;
  top: -200px;
}
