.container {
  min-width: 460px;
}

.note {
  opacity: 0.6;
  font-size: 14px;
  text-align: center;
  margin-bottom: 24px;
}

.streetDiv {
  align-items: center;
  display: flex;
}

.startLabel {
  flex: 1 0 50%;
  margin-right: 12px;
}

.midLabel {
  flex: 1 0 10%;
  max-width: 66px;
  margin-right: 12px;
}

.endLabel {
  flex: 1 0 10%;
  max-width: 66px;
}

.stateDiv {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.select {
  border: 1px solid #ddd;
  height: 32px;
  margin-top: 6px;
  max-width: 162px;
  outline: 0;
}

.cp {
  max-width: 90px;
}
