@import '~@fortawesome/fontawesome-free/css/all.css';

body {
  position: relative;
  color: black;
  height: 100vh;
  background-color: #FBFBFD;
  font-family: Arial, Helvetica, Helvetica Neue, serif;
  margin: 0;
}

h2 {
  margin: 0;
  font-size: 2.25rem;
  font-weight: bold;
  letter-spacing: -0.025em;
  color: #fff;
}

p {
  font-size: 16px;
  margin: 0;
}

li {
  list-style: none;
}

a {
  color: white;
  opacity: 1;
  text-decoration: none;
}

a:hover {
  opacity: 1;
  text-decoration: none;
  cursor: pointer;
}

#root {
  height: 100%;
}

.content-container {
  height: 100%;
}
